html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: #3a3a42;
}
.item{
    color: #3a3a42;
    background-color: silver;
    width: 70%;
    border: 1px solid #898362;
    margin-top: 1%;


}

h2{
    color:brown;
}

.item h2{
    color: #ffd700;
    
}

.table-unam{
    border: 1px solid black;
    background: white;
    width: 80%;
}

.table-unam thead th{
        color: #898362;
        text-align: justify;
    
}
.table-unam tbody td{
    border-bottom: 1px solid green;
    font-size: 15px;

}

.item-bg-aqua{
    background: rgb(7, 95, 66);
}

.font-size-3{
    font-size: 30px;
}
.font-size-2{
    font-size: 20px;
}
.text-white{
    color: white;
}
.btn-primary{
    background-color: #e6cb39;
    width: 80%;
    border-radius: 20px;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 0px;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #3a3a42;
    color: aqua;
}
.font-regular{
    font-weight: 400 !important;
}